<ion-header>
  <ion-toolbar
    style=" --background: #2b5876; /* fallback for old browsers */ --background:
    -webkit-linear-gradient(to right, #4e4376, #2b5876); /* Chrome 10-25, Safari 5.1-6 */ --background:
    linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">
    <ion-title class=" settings" style="color: white;text-align: center;">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>

    <div style="display: flex;justify-content: center;align-items: center;padding-top: 40px;">
      <div style="color: black;display: flex;width: 85%;">
        <img style="height: 4em;position: relative;top: -0.8em;"
          src="https://img.icons8.com/fluent/2x/user-male-circle.png" alt="">
        <div style="position: relative;padding-left: 15px;width: 80%;">
          <ion-label style="font-size: 20px;font-weight: bold;color: rgb(15, 15, 15);letter-spacing: -0.3px;"
            class="robo">
            Muhammad Awais
          </ion-label>
          <p class="robo"
            style="color: rgba(0, 0, 0, 0.856);position: relative;top: -1em;font-size: 12px;text-align: left;">
            Tap To View Profile
          </p>
        </div>

        <div style="text-align: right;position: relative;color: rgba(0, 0, 0, 0.521);width: 20%;top: 0.5em;">
          <ion-icon color="none" style="font-size: 25px;" name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </div>



    <div class="h-divider">
      <div class="shadow"></div>
    </div>

    <div class="flex">

      <ion-card class="card">
        <div style="color: rgba(226, 125, 43, 0.863);">
          <ion-icon color="none" style="font-size: 30px;" name="card"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Cards
        </ion-label>
      </ion-card>

      <ion-card class="card">
        <div style="color: rgba(185, 12, 35, 0.774);">
          <ion-icon color="none" style="font-size: 30px;" name="cloud-upload"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Upload Excel
        </ion-label>
      </ion-card>


      <ion-card class="card">
        <div style="color: rgb(14, 187, 8);">
          <ion-icon color="none" style="font-size: 30px;" name="podium"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Products
        </ion-label>
      </ion-card>


      <ion-card class="card">
        <div style="color: rgb(19, 43, 151);">
          <ion-icon color="none" style="font-size: 30px;" name="document"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Excels
        </ion-label>
      </ion-card>

      <ion-card class="card">
        <div style="color: rgba(112, 4, 49, 0.596);">
          <ion-icon color="none" style="font-size: 30px;" name="person"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Edit Profile
        </ion-label>
      </ion-card>

      <ion-card class="card">
        <div style="color: rgb(182, 12, 12);">
          <ion-icon color="none" style="font-size: 30px;" name="lock-open"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Password
        </ion-label>
      </ion-card>


      <ion-card class="card">
        <div style="color: rgb(39, 3, 3);">
          <ion-icon color="none" style="font-size: 30px;" name="finger-print"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Privacy
        </ion-label>
      </ion-card>


      <ion-card class="card">
        <div style="color: rgb(95, 39, 2);">
          <ion-icon color="none" style="font-size: 30px;" name="language"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Language
        </ion-label>
      </ion-card>

      <ion-card style="width: 100%;border-radius: 0" class="card">
        <div>
          <ion-icon color="danger" style="font-size: 30px;" name="log-out"></ion-icon>

          <ion-label style="  color: rgba(0, 0, 0, 0.459); padding-left: 10px; font-weight: bold;
       position: relative;top: -0.6em;font-family: Hammersmith One, sans-serif;">
            Logout
          </ion-label>
        </div>
      </ion-card>

    </div>

  </ion-list>
</ion-content>