<ion-content>

  <div style="display: none;" id="recaptcha-container"></div>


  <div *ngIf="currentDiv=='one' &&!done" class="wrapper" style="height:100%">
    <div class="fade-in one" style="text-align: center;position: relative;top: 150px;">

      <img style="height: 10em;" src="../../assets/logo.png" alt="">
      <h2 style="color: black;font-size: 30px;font-weight: bold;"><span style="color: rgb(231, 170, 57);;">
          SMARTSHOP</span>
        <br>
        MANAGEMENT
      </h2>


      <div style="padding:15px;position: relative;top: 1.5em;display: flex;flex-direction: column;">

        <h2 style="color: black;font-weight: bold; font-family: 'Noto Sans JP;'">
          {{ 'ViewOne.headinTwo' | translate:params}}
        </h2>

        <ion-list class="line-input">
          <ion-item lines="none" color="none">
            <ion-select [(ngModel)]="selectedLanguage" (ionChange)="languageChanged(selectedLanguage)"
              style="margin-top: 1em;" placeholder="Select prefered language" interface="popover">
              <ion-select-option *ngFor="let item of languages" value="{{item}}">{{item}}</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-list>


        <ion-label
          style="color: rgb(231, 170, 57);;position: relative;top: 4em;font-size: 14px;font-family: 'Noto Sans JP', sans-serif;font-style: italic;">
          {{ 'ViewOne.headinthree' | translate:params}}</ion-label>


        <div (click)="changeView('two')" style="margin-top: 4em;">
          <ion-button color="success" expand="block" mode="ios">
            <p style="color: white;font-size: 18px;  font-family: 'Noto Sans JP', sans-serif;font-weight: bold;">NEXT
            </p>
            <ion-icon name="caret-forward"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>




  </div>


  <div class="wrapper" style="position: relative;top: 150px;
" *ngIf="currentDiv=='two'  &&!done">

    <div class="fade-in one" style="position: relative;text-align: center;">
      <img style="height: 10em;" src="../../assets/logo.png" alt="">
      <h1 style="color: black;font-size: 40px;font-weight: bold;text-align: left;padding-left: 20px;"> {{
        'ViewTwo.headinOne' | translate:params}},</h1>
      <p
        style="color: black;font-size: 16px;font-weight: bold;text-align: left;padding-left: 20px;position: relative;top: -0.8em;">
        {{ 'ViewTwo.headinTwo' | translate:params}}
      </p>

      <div style="display: flex;justify-content: center;align-items: center;text-align: center;">
        <ion-label
          style="color: black;font-family: 'Noto Sans JP';text-align: center;font-size: 25px;font-weight: bold;">
          {{ 'ViewTwo.headinthree' | translate:params}}</ion-label>
      </div>
      <div style="display: flex;padding: 20px;margin-top: 1.5em;">

        <div style="width: 30%;">
          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input type='tel' [(ngModel)]="c_code" maxlength="2" placeholder="91"></ion-input>
            </ion-item>
          </ion-list>
        </div>
        <div style="width: 5%;">

        </div>
        <div style="width: 65%;">

          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input type='tel' [(ngModel)]="num" maxlength="10" placeholder="32566898520"></ion-input>
            </ion-item>
          </ion-list>

        </div>


      </div>

      <div
        style="display: flex;justify-content: center;align-items: center;text-align: center;margin-top: 3em;flex-direction: column;">
        <ion-label
          style="color: black;font-family: 'Noto Sans JP';text-align: center;font-style: italic;font-size: 12px;">
          {{ 'ViewTwo.headinfour' | translate:params}}
          <span style="color: rgb(231, 170, 57);;">
            {{ 'ViewTwo.headinfive' | translate:params}}
          </span>
        </ion-label>
        <ion-button (click)="merge()" style="margin-top: 0.6em;font-size: 14px;" class="btn" mode="ios" color="success">
          <p style="color: white;font-size: 18px;  font-family: 'Noto Sans JP', sans-serif;font-weight: bold;">GET OTP
          </p>
          <ion-icon name="caret-forward"></ion-icon>
        </ion-button>

        <ion-button (click)="changeView('one')" fill="clear" style="margin-top: 0.6em;font-size: 14px;" mode="ios"
          color="danger" expand="large">
          <p style="color: red;font-size: 18px;  font-family: 'Noto Sans JP', sans-serif;font-weight: bold;">BACK
          </p>
          <ion-icon slot="start" name="caret-back"></ion-icon>
        </ion-button>

        <p></p>
      </div>

    </div>

  </div>

  <div class="wrapper" style="position: relative;top: 150px;
  " *ngIf="currentDiv=='three'  &&!done">
    <div class="fade-in one">

      <div style="text-align: center;">
        <img style="height: 10em;" src="../../assets/logo.png" alt="">
      </div>
      <h1 style="text-align: center;color: black;font-weight: bold;">
        {{ 'ViewThree.headinOne' | translate:params}}
      </h1>

      <p style="text-align: center;  font-family: 'Noto Sans JP';font-size: 12px;color: black;">
        {{ 'ViewThree.headinTwo' | translate:params}}
        <span (click)="changeView('two')" style="color: rgb(231, 170, 57);">+{{phone}}
          <ion-icon name="create-outline"></ion-icon>

        </span>
        {{ 'ViewThree.headinthree' | translate:params}}.
      </p>
      <div style="display: flex;padding: 10px;justify-content: center;margin-top: 1em;">
        <div style="width: 15%;padding-right: 6px;">
          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input (keyup)="onKeyUp($event,1)" type="number" placeholder="1" maxlength="1" #passcode1
                [(ngModel)]="a"></ion-input>
            </ion-item>
          </ion-list>
        </div>

        <div style="width: 15%;padding-right: 6px;">
          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input (keyup)="onKeyUp($event,2)" type="number" placeholder="1" maxlength="1" #passcode2
                [(ngModel)]="b"></ion-input>
            </ion-item>
          </ion-list>
        </div>

        <div style="width: 15%;padding-right: 6px;">
          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input (keyup)="onKeyUp($event,3)" type="number" placeholder="1" maxlength="1" #passcode3
                [(ngModel)]="c" type="number"></ion-input>
            </ion-item>
          </ion-list>
        </div>

        <div style="width: 15%;padding-right: 6px;">
          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input (keyup)="onKeyUp($event,4)" type="number" placeholder="1" maxlength="1" #passcode4
                [(ngModel)]="d" type="number"></ion-input>
            </ion-item>
          </ion-list>

        </div>

        <div style="width: 15%;padding-right: 6px;">
          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input (keyup)="onKeyUp($event,5)" type="number" placeholder="1" maxlength="1" #passcode5
                type="number"></ion-input>
            </ion-item>
          </ion-list>
        </div>

        <div style="width: 15%;padding-right: 6px;">
          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input (keyup)="onKeyUp($event,6)" (input)="submit($event)" type="number" placeholder="1"
                maxlength="1" #passcode6 [(ngModel)]="f" type="number"></ion-input>
            </ion-item>

          </ion-list>
        </div>



      </div>

      <div style="display: flex;justify-content: center;flex-direction: column;">
        <p style="text-align: center; color: rgb(231, 170, 57);; font-family: 'Noto Sans JP';font-size: 12px;">{{
          'ViewThree.headinfour' | translate:params}}
          <span style="font-style: italic;">RESEND</span>
        </p>
        <ion-button (click)="changeView('two')" fill="clear" style="margin-top: 0.6em;font-size: 14px;" mode="ios"
          color="danger" expand="large">
          <p style="color: red;font-size: 18px;  font-family: 'Noto Sans JP', sans-serif;font-weight: bold;">BACK
          </p>
          <ion-icon slot="start" name="caret-back"></ion-icon>
        </ion-button>

      </div>

    </div>
  </div>


  <div class="wrapper" style="position: relative;height:100%;top: 150px;
  " *ngIf="done">

    <div class="fade-in one">
      <div style="text-align: center;">
        <img style="height: 10em;" src="../../assets/logo.png" alt="">
      </div>

      <div
        style="display: flex;justify-content: center;align-items: center;position: relative;top: 50px;flex-direction: column;text-align: left;">
        <ion-label style="text-align: left;color: green;display: flex;">To Proceed Further Fill Out Necessary Fields
        </ion-label>
        <div style="width: 90%;display: flex;justify-content: center;flex-direction: column;margin-top: 5px;">

          <ion-list class="line-input">
            <ion-item lines="none" color="none">
              <ion-input [(ngModel)]="name" style="border: none;" type="email" placeholder="Enter your name">
              </ion-input>
            </ion-item>
          </ion-list>

          <div style="margin-top: 10px;">
            <ion-list class="line-input">
              <ion-item lines="none" color="none">
                <ion-input [(ngModel)]="adress" style="border: none;" type="text" placeholder="Enter your adress">
                </ion-input>
              </ion-item>
            </ion-list>

          </div>

          <div style="margin-top: 10px;margin-bottom: 5px;">
            <ion-list class="line-input">
              <ion-item lines="none" color="none">
                <ion-input [(ngModel)]="referal" style="border: none;" type="text" placeholder="Referal if any">
                </ion-input>
              </ion-item>
            </ion-list>
          </div>

          <div style="margin-top: 10px;margin-bottom: 5px;">
            <ion-list class="line-input">
              <ion-item lines="none" color="none">
                <ion-select [(ngModel)]="selectedUser" (ionChange)="userselect(selectedUser)" style="margin-top: 1em;"
                  placeholder="Choose user type" interface="popover">
                  <ion-select-option *ngFor="let item of userTyp" value="{{item}}">{{item}}</ion-select-option>

                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <ion-button style="margin-top: 5px;" (click)="saveData()" mode='ios' color="success" expand="block">I'm in
          </ion-button>
        </div>

      </div>

    </div>

  </div>


</ion-content>