<ion-header>
  <ion-toolbar>
    <ion-title>inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input (ionChange)="searchItem()" [(ngModel)]="searchParam" placeholder="Enter item name or barcode here...">
    </ion-input>
  </ion-item>
  <div>
    <ion-chip color="medium">Low stock first<ion-icon name = "arrow-down"></ion-icon></ion-chip>
    <ion-chip color="medium">Alphabetical</ion-chip>
    <ion-chip color="medium">Price<ion-icon name = "arrow-down"></ion-icon></ion-chip>
    <ion-chip color="medium">Price<ion-icon name = "arrow-up"></ion-icon></ion-chip>
  </div>
  <div *ngIf="!searchFound || searchFound.length < 1">
    <div *ngFor="let item of items">
      <ion-item (click)="showOptions(item)" mode="ios" button>
        <ion-label><span style="font-weight: bold;">{{item.name}}</span>#{{item.barcode}}</ion-label>
        <div slot="end">({{item.stock}})</div>
      </ion-item>
    </div>
  </div>
  <div *ngIf="searchFound || searchFound.length >= 1">
    <div *ngFor="let item of searchFound">
      <ion-item (click)="showOptions(item)" mode="ios" button>
        <ion-label><span style="font-weight: bold;">{{item.name}}</span>#{{item.barcode}}</ion-label>
        <div slot="end">({{item.stock}})</div>
      </ion-item>
    </div>
  </div>
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="scanBarcode()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>