<ion-content>

  <div class="textalignleft">

    <div class="header">
      <div class="spacebetween">
        <div>
          <ion-title class="hello">
            Hello,
          </ion-title>

          <br>

          <ion-title class="name">
            Anna
          </ion-title>

        </div>

        <div style="text-align: right;color: white; margin-top: 2em;padding-right: 10px;">
          <ion-icon style="font-size: 100px;" name="person-circle"></ion-icon>
        </div>
      </div>
    </div>


    <div class="flex">

      <ion-card class="card">
        <div style="color: purple;">
          <ion-icon color="none" style="font-size: 30px;" name="home"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Add Item
        </ion-label>
      </ion-card>

      <ion-card class="card">
        <div style="color: purple;">
          <ion-icon color="none" style="font-size: 30px;" name="home"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Upload Excel
        </ion-label>
      </ion-card>


      <ion-card class="card">
        <div style="color: purple;">
          <ion-icon color="none" style="font-size: 30px;" name="home"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Work
        </ion-label>
      </ion-card>


      <ion-card class="card">
        <div style="color: purple;">
          <ion-icon color="none" style="font-size: 30px;" name="home"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Habits
        </ion-label>
      </ion-card>


    </div>

    <div class="spacebetween">
      <ion-title class="todo">
        To do
      </ion-title>

      <ion-title class="viewall">
        view all </ion-title>

    </div>

    <ion-list>
      <div class="listhead">
        <div class="icon1">
          <ion-icon style="font-size: 22px;position: relative;top: 0.6em;" name="home"></ion-icon>
        </div>
        <div class="inline">
          <h3 class="texthead">
            CHANGE A LIGHT BULD</h3>
          <ion-label class="textlabel">
            HOME</ion-label>

        </div>
      </div>


      <div class="listhead">
        <div class="icon2">
          <ion-icon style="font-size: 22px;position: relative;top: 0.6em;" name="home"></ion-icon>
        </div>
        <div class="inline">
          <h3 class="texthead">
            Economics class</h3>
          <ion-label class="textlabel">
            HOME</ion-label>

        </div>
      </div>

      <div class="listhead">
        <div class="icon3">
          <ion-icon style="font-size: 22px;position: relative;top: 0.6em;" name="home"></ion-icon>
        </div>
        <div class="inline">
          <h3 class="texthead">
            CHANGE A LIGHT BULD</h3>
          <ion-label class="textlabel">
            HOME</ion-label>

        </div>
      </div>

    </ion-list>
  </div>


</ion-content>