<ion-header>
  <ion-toolbar style="--background: #2b5876;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ">
    <div style="display: flex;color: white;">
      <img style="height: 3em;object-fit: contain;" src="../../../assets/logo.png" alt="">
      <ion-title style="text-align: center;color: white;  font-family: 'Francois One', sans-serif;">SmartShop Management
      </ion-title>
      <ion-icon style="position: relative;top: 0.8em;font-size: 20px;" name="ellipsis-vertical"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="textalignleft">

    <div style="display: flex;justify-content: center;width: 100%;background: url('../../../assets/header-back.png');background-size: 100% 100%;padding-bottom:45px;">
      <div style="margin-top: 4px;width: 100%;background:rgba(255, 255, 255, 0);
        ">
        <ion-gird>
          <ion-title style="color: white;" class="hello">
            DAILY STATS
          </ion-title>
          <ion-row style="width: 100%;margin-top: 10px;" class="flex">

            <ion-col style="text-align: center;">

              <div class="right"></div>
              <div class="left"></div>
              <div class="middle">
                <p style=" font-family: 'Hammersmith One', sans-serif;text-align: center;font-size: 30px;">294 <br />
                </p>
              </div>
              <div
                style="text-align:center;color: rgba(255, 255, 255, 0.959);font-family: 'Hammersmith One', sans-serif;font-size: 15px;padding-top: 20px;">
                SALES</div>


            </ion-col>

            <ion-col style="text-align: center;">

              <div class="right"></div>
              <div class="left"></div>
              <div class="middle">
                <p style=" font-family: 'Hammersmith One', sans-serif;text-align: center;font-size: 30px;">100290<br />
                </p>
              </div>
              <div
                style="text-align:center;color: rgba(255, 255, 255, 0.959);font-family: 'Hammersmith One', sans-serif;font-size: 15px;padding-top: 20px;">
                REVENUE</div>


            </ion-col>

            <ion-col style="text-align: center;">

              <div class="right"></div>
              <div class="left"></div>
              <div class="middle">
                <p style=" font-family: 'Hammersmith One', sans-serif;text-align: center;font-size: 30px;">20000 <br />
                </p>
              </div>
              <div
                style="text-align:center;color: rgba(255, 255, 255, 0.959);font-family: 'Hammersmith One', sans-serif;font-size: 15px;padding-top: 20px;">
                PROFITS</div>


            </ion-col>


          </ion-row>

        </ion-gird>


      </div>
    </div>
    <div style="display: flex;justify-content: center;margin-top: -35px;width: 100%;">
      <div style="margin-top: 4px;width: 100%;">
        <ion-title  class="hello" style = "text-align: left;color: rgba(39, 39, 39, 0.788);">
          Overview
        </ion-title>

        <div class="scrollwrapper">
          <ion-card class="cards" *ngFor="let item of [].constructor(5)">

            <ion-card-content
              style="display: flex;text-align: center;justify-content: center;align-items: center;flex-direction: column;margin: 0;padding: 0;">
              <ion-title
                style="color: rgb(238, 238, 238);font-size: 15px;;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;word-wrap: break-word;">
                Total items</ion-title>

              <div
                style="color: #ffffff;font-family: 'Hammersmith One', sans-serif;word-wrap: break-word;font-size: 36px;">
                1100
              </div>

              <div style = "color: rgb(226, 224, 224);">VIEW ALL</div>>
            </ion-card-content>
          </ion-card>
        </div>


      </div>
    </div>



    <div class="flex">

      <ion-card class="card" button (click)="addItem()">
        <div style="color: purple;">
          <ion-icon color="none" style="font-size: 30px;" name="home"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Add Item
        </ion-label>
      </ion-card>

      <ion-card class="card">
        <div style="color: rgba(0, 128, 28, 0.555);">
          <ion-icon color="none" style="font-size: 30px;" name="attach"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Upload Excel
        </ion-label>
      </ion-card>


      <ion-card class="card" button (click)="addSupplier()">
        <div style="color: purple;">
          <ion-icon color="none" style="font-size: 30px;" name="home"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          Add Supplier
        </ion-label>
      </ion-card>


      <ion-card class="card" button (click)="openPOS()">
        <div style="color: purple;">
          <ion-icon color="none" style="font-size: 30px;" name="home"></ion-icon>
        </div>
        <ion-label class="cardtxt">
          POS
        </ion-label>
      </ion-card>


    </div>

    <div class="spacebetween">
      <ion-title class="todo">
        To do
      </ion-title>

      <ion-title class="viewall">
        view all </ion-title>

    </div>

    <ion-list>
      <div class="listhead">
        <div class="icon1">
          <ion-icon style="font-size: 22px;position: relative;top: 0.6em;" name="home"></ion-icon>
        </div>
        <div class="inline">
          <h3 class="texthead">
            ADD A NEW VENDOR</h3>
          <ion-label class="textlabel">
            click to add a new vendor </ion-label>

        </div>
      </div>


      <div class="listhead">
        <div class="icon2">
          <ion-icon style="font-size: 22px;position: relative;top: 0.6em;" name="home"></ion-icon>
        </div>
        <div class="inline">
          <h3 class="texthead">
            Economics class</h3>
          <ion-label class="textlabel">
            click to add a new vendor </ion-label>

        </div>
      </div>

      <div class="listhead">
        <div class="icon3">
          <ion-icon style="font-size: 22px;position: relative;top: 0.6em;" name="home"></ion-icon>
        </div>
        <div class="inline">
          <h3 class="texthead">
            CHANGE A LIGHT BULD</h3>
          <ion-label class="textlabel">
            HOME</ion-label>

        </div>
      </div>

    </ion-list>
  </div>


</ion-content>