<ion-header *ngIf="currentPage=='viewsales'">
  <ion-toolbar style="--background: #2b5876;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ">
    <div style="display: flex;color: white;">
      <img style="height: 3em;object-fit: contain;" src="../../../assets/logo.png" alt="">
      <ion-title style="text-align: center;color: white;  font-family: 'Francois One', sans-serif;">VIEW SALES
      </ion-title>
      <ion-button (click)="changePage('dashboard')" style="padding-top: 5px;" fill='clear' color="primary">
        <p style="color: white;font-family: Impact;">
          BACK </p>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div style="margin-top: 15px;">

    <ion-searchbar *ngIf="currentPage == 'dashboard'" (ionChange)="searchItem()" [(ngModel)]="searchParam" mode='ios'>
    </ion-searchbar>

    <ion-searchbar *ngIf="currentPage == 'search'" (ionChange)="searchItem()" [(ngModel)]="searchParam" mode='ios'>
    </ion-searchbar>

  </div>


  <div *ngIf="currentPage == 'dashboard'" style="display: flex;flex-wrap: wrap;margin-top: 20px;">
    <ion-card (click)="changePage('viewsales')" class="card">
      <div style="color: pink;">
        <ion-icon color="none" style="font-size: 30px;" name="easel"></ion-icon>
      </div>
      <ion-label class="cardtxt">
        View Sales
      </ion-label>
    </ion-card>

    <ion-card class="card">
      <div style="color: rgb(255, 228, 192);">
        <ion-icon color="none" style="font-size: 30px;" name="cafe"></ion-icon>
      </div>
      <ion-label class="cardtxt">
        Add Discount
      </ion-label>
    </ion-card>

    <ion-card (click)="changePage('cart')" class="card">
      <div style="color: rgb(86, 43, 136);">
        <ion-icon color="none" style="font-size: 30px;" name="cart"></ion-icon>
      </div>
      <ion-label class="cardtxt">
        View Cart
      </ion-label>
    </ion-card>

    <ion-card class="card">
      <div style="color: rgba(122, 11, 29, 0.849);">
        <ion-icon color="none" style="font-size: 30px;" name="clipboard"></ion-icon>
      </div>
      <ion-label class="cardtxt">
        Add Note
      </ion-label>
    </ion-card>

    <ion-card class="card">
      <div style="color: rgb(77, 52, 5);">
        <ion-icon color="none" style="font-size: 30px;" name="refresh"></ion-icon>
      </div>
      <ion-label class="cardtxt">
        Reset POS
      </ion-label>
    </ion-card>

    <ion-card class="card">
      <div style="color: rgba(5, 139, 45, 0.815);">
        <ion-icon color="none" style="font-size: 30px;" name="card"></ion-icon>
      </div>
      <ion-label class="cardtxt">
        End Sale
      </ion-label>
    </ion-card>

  </div>


  <div *ngIf="currentPage=='search'">
    <div *ngIf="searchFound && searchFound.length > 0">



      <ion-item-sliding *ngFor="let item of [].constructor(20)">
        <ion-item (click)="addSearchItem(item)">
          <ion-checkbox mode='ios' color="success" slot="end"></ion-checkbox>

          <div style="padding: 5px;">
            <ion-label style="text-align: center;padding: 10px;font-size: 20px;font-weight: bold;" class="robothin">
              {{item.name}}
            </ion-label>

            <div style="display: flex;flex-wrap: wrap;justify-content: center;">

              <ion-label style="padding: 1px;">
                <b>
                  PRICE:
                </b> 3600 INR.
              </ion-label>
              <ion-label style="padding: 1px;">
                <b>
                  BARCODE:
                </b>
                {{item.barcode}}
              </ion-label>

              <ion-label style="padding: 1px;">
                <b>
                  STOCK:
                </b>
                {{item.stock}}
              </ion-label>

            </div>

          </div>

        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger">

            <ion-label>DELETE</ion-label>

          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </div>

  </div>

  <div *ngIf="currentPage=='dashboard'"
    style="display: flex;justify-content: center;margin-top: 0.3em;width: 100%;min-height: 15em;flex-wrap: wrap;">
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082);border-radius:14px;margin-top: 4px;width: 96%; background-color: rgba(139, 53, 27, 0.096);
      ">
      <div>
        <ion-title style="color:rgba(0, 0, 0, 0.767);font-size: 28px;" class="hello">
          OVERVIEW
        </ion-title>
        <div style="width: 110%;margin-top: 10px;" class="flex">

          <div style="padding-left: 0.5em;width: 30%;">

            <div class="right"></div>
            <div class="left"></div>
            <div class="middle">
              <p
                style="color:rgba(0, 0, 0, 0.767); font-family: 'Hammersmith One', sans-serif;text-align: center;font-size: 42px;">
                294 <br />
              </p>
            </div>
            <ion-label
              style="color:rgba(0, 0, 0, 0.767);position: relative;font-family: 'Hammersmith One', sans-serif;left: 1.3em;font-size: 18px;padding-bottom: 10px;">
              SALES TODAY</ion-label>


          </div>

          <div style="padding-left: 0.5em;width: 30%;">

            <div class="right"></div>
            <div class="left"></div>
            <div class="middle">
              <p
                style="color:rgba(0, 0, 0, 0.767); font-family: 'Hammersmith One', sans-serif;text-align: center;font-size: 42px;">
                24 <br />
              </p>
            </div>
            <ion-label
              style="color:rgba(0, 0, 0, 0.767);position: relative;font-family: 'Hammersmith One', sans-serif;left: 1em;font-size: 18px;padding-bottom: 10px;">
              REVENUE TODAY</ion-label>


          </div>

          <div style="padding-left: 0.5em;width: 30%;">

            <div class="right"></div>
            <div class="left"></div>
            <div class="middle">
              <p
                style="color:rgba(0, 0, 0, 0.767); font-family: 'Hammersmith One', sans-serif;text-align: center;font-size: 42px;">
                204 <br />
              </p>
            </div>
            <ion-label
              style="color:rgba(0, 0, 0, 0.767);position: relative;font-family: 'Hammersmith One', sans-serif;left: 1.6em;font-size: 18px;padding-bottom: 10px;">
              DISCOUNTS</ion-label>


          </div>


        </div>

      </div>


    </div>
  </div>

  <div *ngIf="currentPage=='cart'">
    <div
      style="display: flex;justify-content: space-between;margin-top: 2px; border-bottom: 3px solid pink;border-bottom-left-radius: 13px;border-bottom-right-radius: 13px;margin-left: 14px;margin-right: 14px;">

      <div style="display: flex;">

        <div
          style="background: skyblue;border-radius: 14px;color: white;width: 2.3em;height: 2.3em;text-align: center;position: relative;top: 0.2em;">
          <ion-label style="font-family: impact;font-size: 30px;position: relative;top: 0.1em;">
            C
          </ion-label>
        </div>



      </div>

      <div>

        <ion-title
          style="font-weight: bold;font-family: impact;letter-spacing: -0.5px;font-family: 'Baloo Tammudu 2', cursive;font-size: 30px;color: rgba(0, 0, 0, 0.795);">
          CART</ion-title>

      </div>

      <div style="color: #4e4376;">
        <ion-icon style="font-size: 2em;position: relative;top: 0.2em;" color="none" name="cart-outline"></ion-icon>
      </div>

    </div>

    <div style="display: flex;justify-content: center;align-items: center;text-align: center;">

      <ion-card mode='ios' class='a_card'>
        <ion-label class="txt">
          TOTAL
        </ion-label>

        <ion-label class="amount">
          360000 INR.
        </ion-label>



      </ion-card>
    </div>


    <ion-card *ngFor="let item of [].constructor(2)" style="padding: 10px;color: black;" class="items">
      <img style="object-fit: contain;height: 4em;" src="../../assets/prodicon.png" alt="">

      <div style="width: 60%;">

        <ion-title style="color: rgba(0, 0, 0, 0.705);" class="opensans">PRODNAME</ion-title>

        <div style="display: flex;">

          <ion-chip style="font-family: Impact;" fill="outline" color="success">
            InStock
          </ion-chip>


          <ion-chip mode='ios' style="padding-left: 20px;padding-right: 20px;" color="medium">
            <ion-label class="opensans">Quantity:</ion-label>1x
          </ion-chip>
          <ion-icon style="position: relative;top: 0.8em;left: -1.5em;" color="danger" name="create-outline"></ion-icon>

        </div>

      </div>

      <div style="margin-top: 1.5em;">
        <ion-title style="color: #4e4376;" class="opensans">200 INR.</ion-title>
      </div>
      <div style="position: relative;top: -1em;z-index: 1;">
        <ion-icon style="font-size: 32px;" color="danger" name="trash"></ion-icon>

      </div>
    </ion-card>

    <div style="display: flex;padding: 10px;justify-content: center;">
      <ion-button color="danger" mode='ios'>
        <ion-icon name='close'></ion-icon>
        CLEAR
      </ion-button>

      <ion-button (click)="changePage('dashboard')" style="width: 60%;padding: 2px;" fill='outline' mode='ios'>
        <ion-icon style="padding-right: 1px;font-size: 15px;position: relative;top: -2px;" name='home'></ion-icon>
        DASHBOARD
      </ion-button>


    </div>

  </div>

  <div style="height: 100%;background-color: white;" *ngIf="currentPage=='viewsales'">
    <ion-item-sliding *ngFor="let item of [].constructor(20)">
      <ion-item>

        <div style="display: flex;">

          <div style="width: 20%;">
            <img style="margin-top: 15px;" src="../../assets/allokey.png" alt="">
          </div>

          <div style="width: 50%;">

            <div style="padding: 5px;">
              <ion-label
                style="text-align: center;padding: 10px;font-size: 20px;font-weight: bold;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                NAME
              </ion-label>

              <div style="display: flex;flex-wrap: wrap;justify-content: center;flex-direction: column;">

                <ion-label style="padding: 1px;">
                  <b>
                    DATE
                  </b>
                  26/10/2021
                </ion-label>
                <ion-label style="padding: 1px;">
                  <b>
                    SOLD BY
                  </b>
                  HelperName
                </ion-label>

                <ion-label style="padding: 1px;">
                  <b>
                    QUAntity
                  </b>
                  20
                </ion-label>

              </div>

            </div>

          </div>
          <div style="width: 30%;">
            <ion-label
              style="text-align: right;padding: 10px;font-size: 20px;font-weight: bold;margin-top: 30px;font-family: Open Sans;color: rgba(158, 43, 8, 0.897);">
              <ion-icon style="position: relative;top: 2px;" name="arrow-back"></ion-icon>
              SWIPE
            </ion-label>
          </div>
        </div>

      </ion-item>

      <ion-item-options>
        <ion-item-option color="light">

          <ion-label>3600</ion-label>

        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button *ngIf="currentPage=='dashboard'" mode='ios' (click)="scanBarcode()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>

    <ion-fab-button *ngIf="currentPage=='search'" color="success" mode='ios'>
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>


  </ion-fab>

</ion-content>

<ion-footer *ngIf="currentPage !='viewsales'" class="footer">

  <div style="display: flex;color: white;position: relative;top: 0.5em;">
    <ion-icon (click)="back()" style="font-size: 25px;margin-left: 6px;" name="close-circle"></ion-icon>

    <ion-title style="text-align: center;color: white;  font-family: 'Francois One', sans-serif;">POINT OF SALE
    </ion-title>

  </div>

</ion-footer>