<ion-tabs>

  <ion-tab-bar color = "none" style="background: linear-gradient(to right, #4e4376, #2b5876);" slot="bottom">
    <ion-tab-button tab="dashboard" layout="icon-top">
      <ion-icon name="home" color = "light"></ion-icon>
      <ion-label color = "light">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlists" layout="icon-top">
      <ion-icon name="gift" color = "light"></ion-icon>
      <ion-label  color = "light">Wishlists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groups" layout="icon-top">
      <ion-icon  color = "light" name="people-circle"></ion-icon>
      <ion-label  color = "light">Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" layout="icon-top">
      <ion-icon  color = "light" name="settings"></ion-icon>
      <ion-label  color = "light">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>