<ion-tabs>

  <ion-tab-bar style="--background: rgba(255, 255, 255, 0.164)  " slot="bottom">
    <ion-tab-button tab="dashboard" layout="icon-top">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" layout="icon-top">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="borrowers" layout="icon-top">
      <ion-icon name="git-branch"></ion-icon>
      <ion-label>Borrowers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="suppliers" layout="icon-top">
      <ion-icon name="logo-electron"></ion-icon>
      <ion-label>Suppliers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" layout="icon-top">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>